@font-face {
    font-family: "HelveticaNeue";
    src: 
    url('./../fonts/HelveticaNeue/HelveticaNeue.woff') format('woff'),
    url('./../fonts/HelveticaNeue/HelveticaNeue.woff2') format('woff2'),
    url('./../fonts/HelveticaNeue/HelveticaNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeue-Thin";
    src:
    url('./../fonts/HelveticaNeueThin/HelveticaNeueThin.woff') format('woff'),
    url('./../fonts/HelveticaNeueThin/HelveticaNeueThin.woff2') format('woff2'),
    url('./../fonts/HelveticaNeueThin/HelveticaNeueThin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeue-UltraLight";
    src:
    url('./../fonts/HelveticaNeueUltraLight/HelveticaNeueUltraLight.woff') format('woff'),
    url('./../fonts/HelveticaNeueUltraLight/HelveticaNeueUltraLight.woff2') format('woff2'),
    url('./../fonts/HelveticaNeueUltraLight/HelveticaNeueUltraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Light';
    src:
    url('./../fonts/HelveticaNeueLight/HelveticaNeueLight.woff') format('woff'),
    url('./../fonts/HelveticaNeueLight/HelveticaNeueLight.ttf') format('truetype'),
    url('./../fonts/HelveticaNeueLight/HelveticaNeueLight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeue-UltraItalic";
    src:
    url('./../fonts/HelveticaNeueUltraItalic/HelveticaNeueUltraItalic.woff') format('woff'),
    url('./../fonts/HelveticaNeueUltraItalic/HelveticaNeueUltraItalic.woff2') format('woff2'),
    url('./../fonts/HelveticaNeueUltraItalic/HelveticaNeueUltraItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}