// variables
$backgroundcolor: #111111;
$green : #CEEA2D;

@import './fonts.scss';

@import './Home.scss';
@import './Nav.scss';
@import './Products.scss';
@import './Testimonies.scss';
@import './Form.scss';
@import './Cart.scss';

body {
    background-color: $backgroundcolor;
    // font-family: 'HelveticaNeue-Thin';
    // font-family: 'HelveticaNeue';
    // font-family: 'HelveticaNeue-Light';
    color: white;
    font-family: 'HelveticaNeue-UltraLight';
    font-size: 22px;
    letter-spacing: 3px;
    margin: 0;
    overflow-x: hidden;
    display: flex;


    scroll-behavior: smooth;
    --scroll-behavior: smooth;

    width: 100vw;

    @media (min-width: 1150px) {
        justify-content: center;
    }
}

::-webkit-scrollbar {
    width: 0;
}

#root {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 280px;
    width: 1150px;
}

#logo {
    .st0 {
        fill: $green;
    }
}

#video-container {
    padding-bottom: 56.25%;
    margin-top: 1.5em;
    position: relative;
    width: 100%;

    #video {
        position: absolute;
        width: 100%;
        height: 100%;

    }
}

p {
    margin: 0;
}


// counter

.product-counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $green;
    width: 200px;
    font-size: 1.3em;

    @media (min-width: 500px) {
        font-size: 1.5em;
    }

    p {
        font-size: 0.7em;
        margin: 20px 0;
        text-align: center;
    }

    .set-counter {
        cursor: pointer;

        @media (max-width: 400px) {
            display: none;
        }
    }

    .cart {
        cursor: pointer;
        color: white;
        font-size: 1.3em;
        background-color: inherit;
        border: none;
        font-weight: 100;

    }
}


// sale container

#sale-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    .sale-logo {
        width: 200px;
        margin-bottom: 40px;
    }

    h1 {
        text-align: center;
        font-size: 1em;
        font-weight: 100;
    }
}

.button {
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid $green;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1em;
    padding: 0.5em 1em;
    margin-top: 0.9em;
    background-color: $backgroundcolor;
    font-family: 'HelveticaNeue-UltraLight';
    outline: none;

    @media (min-width: 750px) {
        font-size: 1.1em;
    }
}

// .alert {
//     color: red;
//     font-size: 0.7em;
//     height: auto;
//     width: 230px;
//     margin: 20px;
//     text-align: center;
// }

//cart
.tienda,
.pagar {
    font-size: 1em;

    @media (max-width: 400px) {
        font-size: 0.7em;
    }

    @media (max-width: 350px) {
        font-size: 0.6em;
    }
}

#footer {
    page-break-after: always;

    text-align: center;
    margin: 50px 10px 30px 10px;
    font-size: 0.5em;
    bottom: 0;
}

.spinner-container {
    margin-top: 200px;
    border: 10px solid black;
    border-top: 10px solid $green;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

.spinner-logo {
    width: 200px;
    margin-top: 100px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#contact {
    margin-top: 20px;
    color: $green;
    text-align: center;
}